body {
  min-width: 320px;
  margin: 0;
  @include serif($base-font-size, 2);
  color: rgba($black ,0.75);
}

a {
  color: rgba($black ,0.65);
  text-decoration: none;
  transition: 75ms color ease-out;
  letter-spacing: 1px;
  &:hover, &:focus { color: rgba($black ,0.85); }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  margin: em(32px,36px) 0;
  @include serif-bold(em(36px), (48/36));
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin-bottom: -24px;

  &.wordmark {
    span {
      font-style: italic;
    }
  }
}

.backgroundclip h1.wordmark {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-clip: text;
  background-image: image_url("splash-bg-text.jpg");
  background-size: auto 120%;
}

h3 {
  margin: em(32px,12px) 0;
  @include serif-bold(em(14px), (32/12));
  letter-spacing: 6px;
  text-transform: uppercase;
}

p {
  margin: 0 0 em(32px,20px);
  font-size: em(18px);
  line-height: (32/20);
  text-align:justify;
}


@include breakpoint(mobile) {
  p { font-size: em(16px); }
}


@include breakpoint(mobile-portrait) {
  h1 { font-size: em(24px); }

  .backgroundclip h1.wordmark {
    -webkit-text-fill-color: $black;
    text-fill-color: $black;
    background: none;
  }
}
