html {
  min-height: 100%;
  background: #fff image_url("splash-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

body {
  min-height: 100%;
  margin: 0;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: em(36px);
  background: rgba(255,255,255,0.93);
  border-radius: 12px;
}

.site-body {
  width: 100%;
  .content {
    @extend %content-frame;
    text-align: center;
  }
}

.member-list {
  list-style: none;
  margin: em(32px) em(-30px);
  padding: 0;

  li {
    display: inline-block;
    margin: 0;
    padding: 0 em(24px);
  }

  a {
    font-size: em(16px);
    line-height: (32/18);
    font-style: italic;
  }
}

@include breakpoint(mobile) {
  .page { margin: em(18px); }
  .member-list li { display: block; }
}

@include breakpoint(mobile-portrait) {
  body { background-image: none; }
  .page { margin: 0; border-radius: 0; }
}
