---
title: Bricks & Mortar – Comox Valley, BC
description: Bricks & Mortar is a creative workspace/office/studio in the heart of the Comox Valley
---
<article class="site-body" role="main" id="main">
  <div class="content">
      <h1 class="wordmark">Bricks&nbsp;<span>&amp;</span> Mortar</h1>

            <h3>In the Comox Valley</h3>

            <p>Bricks & Mortar is a creative studio in the heart of the Comox Valley. It's shared by a small group of designers, developers and entrepreneurs who wanted to come together to inspire one another in dialogue and collaboration.</p>

            <p>We chose our location – a stone’s throw from Cliffe Avenue and 5th Street in downtown Courtenay – deliberately. Downtowns are important and they’re changing dramatically, especially in small towns like ours. We’re here to participate in the conversation about the future of downtowns and to see how our respective work fits into their future.</p>

            <p>If you’d like to join the conversation or would like to know more about the work we do, please be in touch with us through any one of the websites listed below, or <a href="mailto:hello@bricksandmortar.in">hello@bricksandmortar.in</a>.</p>

      <ul class="member-list">
        <li><a href="http://architexture.ca">architexture.ca</a>
        <li><a href="http://denman.digital">denman.digital</a>
        <li><a href="http://dialect.ca">dialect.ca</a>
        <li><a href="http://mediumrareinc.com">mediumrareinc.com</a>
        <li><a href="http://silentseason.com">silentseason.com</a>
        <li><a href="http://unshiftinteractive.com">unshiftinteractive.com</a>
        <li><a href="http://yosuke.ca">yosuke.ca</a>
      </ul>
  </div>
</article>
