---
title: Bricks & Mortar – Comox Valley, BC
description: Bricks & Mortar is a creative workspace/office/studio in the heart of the Comox Valley
---
<article class="site-body" role="main" id="main">
  <div class="content">
      <h1 class="wordmark">Bricks&nbsp;<span>&amp;</span> Mortar</h1>

      <p>Bricks &amp; Mortar is a creative workspace/<wbr>office/<wbr>studio in the heart of the Comox Valley. It was born out of a need for interaction and collaboration. It’s an ongoing conversation on the future of downtowns in rural communities and the work that makes them thrive. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ip75sum sed pharetra gravida, orci magna asking questions, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat.</p>

      <h3>Who’s Currently at the&nbsp;Table?</h3>

      <ul class="member-list">
        <li><a href="http://architexture.ca">architexture.ca</a>
        <li><a href="http://dialect.ca">dialect.ca</a>
        <li><a href="http://mediumrareinc.com">mediumrareinc.com</a>
        <li><a href="http://unshiftinteractive.com">unshiftinteractive.com</a>
        <li><a href="http://yosuke.ca">yosuke.ca</a>
      </ul>
  </div>
</article>
